<div class="bg-light" >

    <h3>Create New Danger</h3>
    <form (submit)="createDanger()">
        <div class="form-group">
            <label>Class: </label>
            <select name="class" class="form-control" [(ngModel)]="newDanger.class">
                <option value="city">City</option>
                <option value="road">Road</option>
                <option value="unique">Unique</option>
            </select>
        </div>
        <div class="form-group">
            <label>Name: </label>
            <input class="form-control" type="number" min="0" name="name" [(ngModel)]="newDanger.name">
        </div>
        <div class="form-group">
            <label>Description: </label>
            <textarea class="form-control" name="description" cols="30" rows="5" [(ngModel)]="newDanger.description"></textarea>
        </div>
        <div class="form-group">
            <label>Damage: </label>
            <input class="form-control" type="number" min="1" max="10" name="damage" [(ngModel)]="newDanger.damage">
        </div>
        <div class="form-group">
            <input class="btn" type="submit" value="Create Danger">
        </div>
    </form>
</div>