*{
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
app-new-city, app-new-danger, app-edit-city, app-edit-danger{
    display: inline-block;
    width: 400px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 2px dotted orange;
    margin: 0 10px;
}

app-show-city, app-show-danger{
    display: block;
    width: 95%;
    max-height: 500px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border: 2px dotted orange;
    margin: 10px auto;
}